# csv
* `sep`: Separador de elementos
* `header`: La l√≠nea del fichero donde est√°n las cabeceras
* `na_values`: Indicamos qu√© valores son nulos
* `compression`: Indica el tipo de compresi√≥n del fichero, `{‚Äòinfer‚Äô, ‚Äògzip‚Äô, ‚Äòbz2‚Äô, ‚Äòzip‚Äô, ‚Äòxz‚Äô, None}, default ‚Äòinfer‚Äô`
* `decimal`: Indicamos el separador de decimales
* `encoding`: Indica la codificaci√≥n del fichero

In [32]:
import pandas as pd

In [33]:
data_folder_in = "data/in/{}"
data_folder_out = "data/out/{}"

iconos = 'iconos.csv'
iconos_zip = 'iconos.zip'
puntuaciones = 'puntuaciones.csv'

url = 'https://opendata.arcgis.com/datasets/828179cabe6f479691b08560f41af197_0.csv'

In [34]:
pd.read_csv(url).head(5)

,OBJECTID,codine,AMBITO,Censo,Votantes,Nulos,V√°lidos,Blancos,Votos_Cand_,Abstenciones,...,O_E_,EH_BILDU,VOX,GANEMOS,LN,PODEMOS_AHAL_DUGU_IU,RECORTES_CERO_GV,Shape__Area,Shape__Length,Fecha
0,1,1001,ALEGR√çA-DULANTZI,1986.0,1177.0,8.0,1169.0,9.0,1160.0,809.0,...,0.0,241.0,1.0,6.0,0.0,195.0,5.0,3.706021e+07,47644.751372,2016/09/25 01:00:00+00
1,2,1002,AMURRIO,8120.0,5574.0,44.0,5530.0,33.0,5497.0,2546.0,...,2.0,1367.0,35.0,22.0,0.0,865.0,19.0,1.802657e+08,88515.989047,2016/09/25 01:00:00+00
2,3,1003,ARAMAIO,1191.0,839.0,2.0,837.0,4.0,833.0,352.0,...,0.0,434.0,4.0,6.0,0.0,77.0,0.0,1.372282e+08,56928.332775,2016/09/25 01:00:00+00
3,4,1004,ARTZINIEGA,1408.0,947.0,11.0,936.0,6.0,930.0,461.0,...,1.0,234.0,4.0,6.0,0.0,117.0,2.0,5.128479e+07,31193.716721,2016/09/25 01:00:00+00
4,5,1006,ARMI√ë√ìN,174.0,110.0,3.0,107.0,0.0,107.0,64.0,...,0.0,12.0,3.0,2.0,0.0,22.0,1.0,2.392527e+07,33398.353489,2016/09/25 01:00:00+00

In [35]:
pd.read_csv(data_folder_in.format(iconos_zip))

                             Icono;code;name
0                    üòÄ;U+1F600;grinning face
1      üòÉ;U+1F603;grinning face with big eyes
2  üòÑ;U+1F604;grinning face with smiling eyes
3        üòÅ;U+;beaming face with smiling eyes

In [36]:
pd.read_csv(data_folder_in.format(iconos_zip), compression="zip")

                             Icono;code;name
0                    üòÄ;U+1F600;grinning face
1      üòÉ;U+1F603;grinning face with big eyes
2  üòÑ;U+1F604;grinning face with smiling eyes
3        üòÅ;U+;beaming face with smiling eyes

Pruebo con otro tipo de compression diferente al archivo y salta el 
siguiente error: `BadGzipFile`

In [37]:
pd.read_csv(data_folder_in.format(iconos_zip), compression="gzip")

BadGzipFile: Not a gzipped file (b'PK')

In [38]:
df = pd.read_csv(data_folder_in.format(iconos), sep=";")
df

  Icono     code                             name
0     üòÄ  U+1F600                    grinning face
1     üòÉ  U+1F603      grinning face with big eyes
2     üòÑ  U+1F604  grinning face with smiling eyes
3     üòÅ       U+   beaming face with smiling eyes

In [39]:
df = pd.read_csv(data_folder_in.format(iconos), sep=";", na_values=['U+'])
df

  Icono     code                             name
0     üòÄ  U+1F600                    grinning face
1     üòÉ  U+1F603      grinning face with big eyes
2     üòÑ  U+1F604  grinning face with smiling eyes
3     üòÅ      NaN   beaming face with smiling eyes

In [40]:
df.isnull()

   Icono   code   name
0  False  False  False
1  False  False  False
2  False  False  False
3  False   True  False

In [41]:
df.dropna(inplace=True)
df

  Icono     code                             name
0     üòÄ  U+1F600                    grinning face
1     üòÉ  U+1F603      grinning face with big eyes
2     üòÑ  U+1F604  grinning face with smiling eyes

In [42]:
df.to_csv(data_folder_out.format(iconos))

In [43]:
pd.read_csv(data_folder_out.format(iconos))

   Unnamed: 0 Icono     code                             name
0           0     üòÄ  U+1F600                    grinning face
1           1     üòÉ  U+1F603      grinning face with big eyes
2           2     üòÑ  U+1F604  grinning face with smiling eyes

In [44]:
df.to_csv(data_folder_out.format(iconos), index=False)

In [45]:
pd.read_csv(data_folder_out.format(iconos))

  Icono     code                             name
0     üòÄ  U+1F600                    grinning face
1     üòÉ  U+1F603      grinning face with big eyes
2     üòÑ  U+1F604  grinning face with smiling eyes

In [46]:
df.to_csv(data_folder_out.format(iconos), index=False, sep=";")

In [47]:
pd.read_csv(data_folder_out.format(iconos), sep=";")

  Icono     code                             name
0     üòÄ  U+1F600                    grinning face
1     üòÉ  U+1F603      grinning face with big eyes
2     üòÑ  U+1F604  grinning face with smiling eyes

El siguiente error ocurre porque ISO-8859-1 (tambi√©n conocido como Latin-1) no admite ciertos caracteres Unicode, como emojis como üòÑ.

In [48]:
df.to_csv(data_folder_out.format(iconos), index=False, sep=";", encoding="iso-8859-1")

UnicodeEncodeError: 'latin-1' codec can't encode character '\U0001f600' in position 0: ordinal not in range(256)

In [49]:
df = pd.read_csv(data_folder_in.format(puntuaciones), sep=";")
df

  participante puntuacion                           pais
0         Jean        1,2                Francia; Bayona
1         Jhon        2,1  Estados Unidos; San Francisco
2       Julian        2,2                Espa√±a; Bilbao

In [50]:
df.dtypes

participante    object
puntuacion      object
pais            object
dtype: object

In [51]:
df['puntuacion'].sum()

'1,22,12,2'

In [52]:
df = pd.read_csv(data_folder_in.format(puntuaciones), sep=";", decimal=",")
df

  participante  puntuacion                           pais
0         Jean         1.2                Francia; Bayona
1         Jhon         2.1  Estados Unidos; San Francisco
2       Julian         2.2                Espa√±a; Bilbao

In [53]:
df.dtypes

participante     object
puntuacion      float64
pais             object
dtype: object

In [54]:
df['puntuacion'].sum()

5.5

In [55]:
df

  participante  puntuacion                           pais
0         Jean         1.2                Francia; Bayona
1         Jhon         2.1  Estados Unidos; San Francisco
2       Julian         2.2                Espa√±a; Bilbao

In [56]:
df.to_csv(data_folder_out.format(puntuaciones), index=False, sep=";", decimal=",")