# Pickle
* `compression`: `{‘infer’, ‘gzip’, ‘bz2’, ‘zip’, ‘xz’, None}`, defecto `‘infer’`

In [12]:
import pandas as pd
import pickle

In [5]:
data_folder_in = "data/in/{}"
data_folder_out = "data/out/{}"

iconos = 'iconos.csv'
pkl = 'iconos.pkl'

In [6]:
df = pd.read_csv(data_folder_in.format(iconos), sep=";")
df

  Icono     code                             name
0     😀  U+1F600                    grinning face
1     😃  U+1F603      grinning face with big eyes
2     😄  U+1F604  grinning face with smiling eyes
3     😁       U+   beaming face with smiling eyes

In [7]:
df.to_pickle(data_folder_out.format(pkl))

In [8]:
df = None

In [13]:
df = pickle.load(open(data_folder_out.format(pkl), "rb" ) )
df

  Icono     code                             name
0     😀  U+1F600                    grinning face
1     😃  U+1F603      grinning face with big eyes
2     😄  U+1F604  grinning face with smiling eyes
3     😁       U+   beaming face with smiling eyes

In [10]:
pickle.dump(df, open( data_folder_out.format(pkl), "wb" ) )
df = None

In [11]:
df = pickle.load(open(data_folder_out.format(pkl), "rb" ) )
df

  Icono     code                             name
0     😀  U+1F600                    grinning face
1     😃  U+1F603      grinning face with big eyes
2     😄  U+1F604  grinning face with smiling eyes
3     😁       U+   beaming face with smiling eyes