## Timeseries y Timestamp

In [3]:
import numpy as np
import pandas as pd
import datetime as dt

In [4]:
ts = pd.Timestamp(2020,1,1)
ts

Timestamp('2020-01-01 00:00:00')

In [5]:
ts = pd.Timestamp('2020-01-01')
ts

Timestamp('2020-01-01 00:00:00')

In [6]:
dt = pd.to_datetime(['01/01/2021', np.datetime64('2021-01-02'), dt.datetime(2021,1,3)])
dt

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03'], dtype='datetime64[ns]', freq=None)

In [7]:
dt_int = pd.date_range('20-01-01', periods=10, freq='W')
dt_int

DatetimeIndex(['2001-01-21', '2001-01-28', '2001-02-04', '2001-02-11',
               '2001-02-18', '2001-02-25', '2001-03-04', '2001-03-11',
               '2001-03-18', '2001-03-25'],
              dtype='datetime64[ns]', freq='W-SUN')

In [8]:
s = pd.Series(np.arange(10), index = dt_int)
s

2001-01-21    0
2001-01-28    1
2001-02-04    2
2001-02-11    3
2001-02-18    4
2001-02-25    5
2001-03-04    6
2001-03-11    7
2001-03-18    8
2001-03-25    9
Freq: W-SUN, dtype: int32

In [9]:
s.resample('2D').mean()

2001-01-21    0.0
2001-01-23    NaN
2001-01-25    NaN
2001-01-27    1.0
2001-01-29    NaN
2001-01-31    NaN
2001-02-02    NaN
2001-02-04    2.0
2001-02-06    NaN
2001-02-08    NaN
2001-02-10    3.0
2001-02-12    NaN
2001-02-14    NaN
2001-02-16    NaN
2001-02-18    4.0
2001-02-20    NaN
2001-02-22    NaN
2001-02-24    5.0
2001-02-26    NaN
2001-02-28    NaN
2001-03-02    NaN
2001-03-04    6.0
2001-03-06    NaN
2001-03-08    NaN
2001-03-10    7.0
2001-03-12    NaN
2001-03-14    NaN
2001-03-16    NaN
2001-03-18    8.0
2001-03-20    NaN
2001-03-22    NaN
2001-03-24    9.0
Freq: 2D, dtype: float64

In [10]:
_ = pd.to_datetime('04/08/2020', dayfirst=True)
_

Timestamp('2020-08-04 00:00:00')

In [11]:
_ = pd.to_datetime('04/08/2020', dayfirst=False)
_

Timestamp('2020-04-08 00:00:00')

In [12]:
_.day

8

### Epoch

In [13]:
pd.to_datetime([1349720105,1349720505,1349720105,1349726105], unit='s')

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-08 18:21:45',
               '2012-10-08 18:15:05', '2012-10-08 19:55:05'],
              dtype='datetime64[ns]', freq=None)

In [15]:
week_mask = 'Mon Tue Wed'

_ = pd.bdate_range('2020-01-01','2020-01-30', freq='C', weekmask=week_mask)
_

DatetimeIndex(['2020-01-01', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-20',
               '2020-01-21', '2020-01-22', '2020-01-27', '2020-01-28',
               '2020-01-29'],
              dtype='datetime64[ns]', freq='C')

In [17]:
_.isocalendar()

            year  week  day
2020-01-01  2020     1    3
2020-01-06  2020     2    1
2020-01-07  2020     2    2
2020-01-08  2020     2    3
2020-01-13  2020     3    1
2020-01-14  2020     3    2
2020-01-15  2020     3    3
2020-01-20  2020     4    1
2020-01-21  2020     4    2
2020-01-22  2020     4    3
2020-01-27  2020     5    1
2020-01-28  2020     5    2
2020-01-29  2020     5    3

In [19]:
_.year

Index([2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020,
       2020],
      dtype='int32')

In [20]:
_.day_name()

Index(['Wednesday', 'Monday', 'Tuesday', 'Wednesday', 'Monday', 'Tuesday',
       'Wednesday', 'Monday', 'Tuesday', 'Wednesday', 'Monday', 'Tuesday',
       'Wednesday'],
      dtype='object')